
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Export</title>
</head>
<body>
    <h1>@ViewBag.Error</h1>
</body>
</html>
